<!-- <div class="dashboard">
    <mat-card>
        <mat-card-title class="login-title">Dashboard</mat-card-title>
        <mat-card-content>
            <p>
                Welcome to dashboard
                <b>
                    {{decodedToken.first_name}} {{decodedToken.last_name}}
                </b>
            </p>
        </mat-card-content>
    </mat-card>
</div> -->

<mat-card class="card">
    <mat-card-title class="login-title">Tab 1</mat-card-title>
    <mat-card-content>
        <p>
            <b>
                {{decodedToken.first_name}} {{decodedToken.last_name}}
            </b>
        </p>
    </mat-card-content>
</mat-card>


<mat-card class="card">
    <mat-card-title class="login-title">Tab 2</mat-card-title>
    <mat-card-content>
        <p>
            <b>
                {{decodedToken.first_name}} {{decodedToken.last_name}}
            </b>
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="card">
    <mat-card-title class="login-title">Tab 3</mat-card-title>
    <mat-card-content>
        <p>
            <b>
                {{decodedToken.first_name}} {{decodedToken.last_name}}
            </b>
        </p>
    </mat-card-content>
</mat-card>